<div class="jumbotron">
<div class="header">
<h1>Welcome to David's Bike Shop!</h1>
<h2>We have the best bikes, we have the best prices, we have the best deals!</h2>
</div>	
</div>
<%= image_tag("racebike.jpg", class: "img-responsive") %>
<h3>Our best-seller!</h3>