<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="nav">
      <ul id="nav">
        <li>Contact</li>
        <li>About</li>
        <li><a href="static_pages/about">About</a></li>
        <li>Home</li>
       </ul>
    </div>

	   <%= yield %>

    <footer class="site-footer">
    &copy; 2015 Bike Berlin
    </footer>

  </body>
</html>
